@media (max-width: 1200px)
	.landing-rows .content-side
		margin-top: 35%
	#third .illustration
		padding-top 80px

@media (max-height: 600px) and (max-width: 750px)
	#first 
		height inherit !important
		.to-bottom
			display none

@media (max-width: 840px)
	footer .commerce-request input[type="submit"]
		font-size 12px
		padding 20px 5px

@media (max-width: 750px)
	footer .commerce-request input[type="submit"]
		font-size 11px
		padding 20px 0px

@media (max-width: 720px)
	#path-line, .landing-rows .circle
		display none
	.landing-rows 
		.content-side
			margin 0 auto !important
			text-align center !important
			padding 50px 0px !important
		.illustration
			text-align center !important
			padding-top 50px !important
		
	footer
		.commerce-request 
			input[type="submit"]
				font-size 14px
				padding 20px 5px
		.col-offer
			padding-right 0
		.col-form
			padding-left 0

@media (max-width: 650px)
	.slider
		margin-left 0
		margin-right 0
		.slick-prev, .slick-next
			display none !important
		.slider-elem
			padding-left 35px
			padding-right 35px
				
@media (max-width: 600px)
	#first 
		height inherit !important
		.void-space
			max-height 100px
		.to-bottom
			display none
			
@media(max-width: 500px)
	#first .void-space
		max-height 100px

@media(max-width: 420px)
	#first
		.header-menu 
			text-align center
			.logo
				width 100%
			ul
				width 100%
				margin-right 0
				
	.slider 
		.inner 
			padding-left 10px
			padding-right 10px
			.title
				font-size: 18px;
				padding-left: 30px;
			.about
				padding-left: 30px;
			.text p
				font-size 13px
				
	footer .commerce-request 
		padding 20px 10px
		input[type="submit"]
			font-size 12px

@media(max-width: 330px)
	footer .commerce-request input[type="submit"]
		font-size 11px
		padding-left 0
		padding-right 0